* {
    font-family: sans-serif, 'Courier New', Courier, monospace;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #c90abf;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}